@layout('layout')
@section('content')
<div class="container-fluid mt-3">
    <div class="row ">
        <div class="alert alert-danger alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Danger!</strong> {{error}}.
          </div>
    </div>
</div>

@endsection